.display{
    text-align: left;
    margin-left: 56px;
    margin-top: 53px;
    margin-right: 50px;
    font-size: 20px;
    top: -97px;
    position: relative;
    text-align-last: center;
    border: 2px solid;
    height: 266px;
    padding-top: 45px;
}

.gitname{
    margin-top: 12px;
    
}

#name{
    height: 20px;
    width: 200px;
    margin-top:10px;
}

button{
    margin-left: 10px;
    height: 25px;
    color: darkblue;
    background-color: lightgreen;
    font-weight: 700;
    border-radius: 0.4rem;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    left: 205px;
    position: relative;
    z-index: 1;
    bottom: -12px;

}

img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}